.navbar .navbar-nav .nav-link {
      background-color: #33387c70;
      margin: 0 10px;
      padding: 10px 20px;
      border-radius: 20px;
      color: #fff;
}
.navbar .navbar-nav .nav-link:hover {
      background-color: #353c9870;
      margin: 0 10px;
      padding: 10px 20px;
      border-radius: 20px;
      color: #fff;
      scale: 1.05;
}